URL=localhost

POSTGRES_DATABASE=YOUR_DATABASE_NAME
POSTGRES_USER=YOUR_DATABASE_USERNAME
POSTGRES_PASSWORD=YOUR_DATABASE_PASSWORD
POSTGRES_URL=YOUR_DB_URL
POSTGRES_URL_NON_POOLING=YOUR_DB_URL_NON_POOLIN
POSTGRES_HOST=YOUR_HOST

DATABASE_URL=YOUR_DATABASE