@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
		--font-wallpoet: wallpoet;
		--font-mulish: mulish;
	}
}

body {
	color: var(--foreground);
}

h1 {
	font-family: var(--font-wallpoet);
	font-size: 2.5em;
	text-align: center;
}

h2,
h3 {
	font-family: var(--font-wallpoet);
	text-align: center;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.2em;
}

p {
	font-family: var(--font-mulish);
}
